In [25]:
from csv import reader

In [26]:
#importing and reading csv file

opended_file = open('hacker_news.csv')
read_file = reader(opended_file)

In [27]:
#lisitng all data

hn = list(read_file)

#separating header row from rest of the data
head = hn[0]

hn = hn[1:] #assigning all hacker news data excluding header in the hn variable

In [28]:
#expolore function explores a given dataset within a range

# Define a function to extract a slice of a given dataset for analysis
def explore(dataset, start, end, rows_and_columns=False):
    dataset_slice = dataset[start:end]
    for row in dataset_slice:
        print(row)
        print('\n')
    
    if rows_and_columns:
        print('Number of rows:', len(dataset))
        print('Number of columns:', len(dataset[0]))

In [29]:
print(head) #printing header row
print('\n')
explore(hn, 0, 5, True) #exploring hacker news dataset from the range 0 to 5

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']


['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']


['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']


Number of rows: 20100
Number of columns: 7

## Cleansing Data

In [30]:
def check_column_shifts(header, dataset):
	totalErrors = 0
	for row in dataset:
		if len(header) != len(row):
			totalErrors+=1
			print('headers: ', header, '\n')
			print('row: ', row, '\n')
			print('row index: ', dataset.index(row), '\n')

	print('column shift errors: ', totalErrors)

check_column_shifts(head, hn)

column shift errors:  0

In [47]:
def check_for_null_values_at_an_index(header, dataset, index, indexName):
	total_null_values = 0
	
	print('\n')
	print(header)
	for row in dataset:
		null_values_found = False
		if not (row[index]):
			total_null_values += 1
			null_values_found = True
		if(null_values_found):
			print('\n')
			print(row)

	print('\n')
	print('total null values for '+indexName+': ', total_null_values)
			
#check null values for comments in the data				
check_for_null_values_at_an_index(head,hn,4,'comments')

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']


total null values for comments:  0

### Seperating data by post titles

In [48]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title = row[1]
    if(title.lower().startswith('ask hn')):
        ask_posts.append(row)
    elif(title.lower().startswith('show hn')):
        show_posts.append(row)
    else:
        other_posts.append(row)


print('total ask posts: ',len(ask_posts)) 
print(ask_posts[:3])
print('\n')
print('total show posts: ',len(show_posts))
print(show_posts[:3])
print('\n')
print('total other posts: ',len(other_posts)) 
print(other_posts[:3])
print('\n')

total ask posts:  1744
[['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55'], ['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43'], ['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14']]


total show posts:  1162
[['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03'], ['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46'], ['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05']]


total other posts:  17194
[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']]

### Average Number of Comments

In [49]:
def find_average(data, index, str):
	total = 0
	for row in data:
		total += int(row[index])
	avg = round(total / len(data), 3)
	print(str+': ', avg)
	return avg

avg_ask_comments = find_average(ask_posts, 4, 'ask post comment avg')
avg_show_comments = find_average(show_posts, 4, 'show post comment avg')
avg_other_comments = find_average(other_posts, 4, 'other post comment avg')

ask post comment avg:  14.038
show post comment avg:  10.317
other post comment avg:  26.873

## Analyzing Ask Posts

### Analyzing Ask Posts by Hour

In [50]:
import datetime as dt

In [51]:
result_list = []

for row in ask_posts:
	post_creation_time = row[6]
	num_comments = int(row[4])
	result_list.append([post_creation_time, num_comments])

print(result_list[:3])

[['8/16/2016 9:55', 6], ['11/22/2015 13:43', 29], ['5/2/2016 10:14', 1]]

In [78]:
counts_by_hour = {}
comments_by_hour = {}

for data in result_list:
	date_data = data[0]
	comment_data = data[1]

	parsed_date = dt.datetime.strptime(date_data, "%m/%d/%Y %H:%M")
	hour_created = parsed_date.strftime("%H")

	if hour_created not in counts_by_hour:
		counts_by_hour[hour_created] = 1
	else:
		counts_by_hour[hour_created] += 1

	if hour_created not in comments_by_hour:
		comments_by_hour[hour_created] = comment_data
	else:
		comments_by_hour[hour_created] += comment_data

print('Posts created by hour:', counts_by_hour)
print('Comments created by hour:', comments_by_hour)

Posts created by hour: {'09': 45, '13': 85, '10': 59, '14': 107, '16': 108, '23': 68, '12': 73, '17': 100, '15': 116, '21': 109, '20': 80, '02': 58, '18': 109, '03': 54, '05': 46, '19': 110, '01': 60, '22': 71, '08': 48, '04': 47, '00': 55, '06': 44, '07': 34, '11': 58}
Comments created by hour: {'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}

### Calculating average number of comments each hour

In [83]:
avg_by_hour = []

for hour in counts_by_hour:
	avg_data = round(comments_by_hour[hour] / counts_by_hour[hour], 3)
	avg_by_hour.append([hour, avg_data])

print(avg_by_hour)

[['09', 5.578], ['13', 14.741], ['10', 13.441], ['14', 13.234], ['16', 16.796], ['23', 7.985], ['12', 9.411], ['17', 11.46], ['15', 38.595], ['21', 16.009], ['20', 21.525], ['02', 23.81], ['18', 13.202], ['03', 7.796], ['05', 10.087], ['19', 10.8], ['01', 11.383], ['22', 6.746], ['08', 10.25], ['04', 7.17], ['00', 8.127], ['06', 9.023], ['07', 7.853], ['11', 11.052]]

In [85]:
swap_avg_by_hour = []

for k,v in avg_by_hour:
	swap_avg_by_hour.append([v, k])

print(swap_avg_by_hour)

[[5.578, '09'], [14.741, '13'], [13.441, '10'], [13.234, '14'], [16.796, '16'], [7.985, '23'], [9.411, '12'], [11.46, '17'], [38.595, '15'], [16.009, '21'], [21.525, '20'], [23.81, '02'], [13.202, '18'], [7.796, '03'], [10.087, '05'], [10.8, '19'], [11.383, '01'], [6.746, '22'], [10.25, '08'], [7.17, '04'], [8.127, '00'], [9.023, '06'], [7.853, '07'], [11.052, '11']]

In [86]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)
print(sorted_swap)

[[38.595, '15'], [23.81, '02'], [21.525, '20'], [16.796, '16'], [16.009, '21'], [14.741, '13'], [13.441, '10'], [13.234, '14'], [13.202, '18'], [11.46, '17'], [11.383, '01'], [11.052, '11'], [10.8, '19'], [10.25, '08'], [10.087, '05'], [9.411, '12'], [9.023, '06'], [8.127, '00'], [7.985, '23'], [7.853, '07'], [7.796, '03'], [7.17, '04'], [6.746, '22'], [5.578, '09']]

In [88]:
print("Top 5 Hours for Ask Posts Comments")

for data in sorted_swap[:5]:
	print(data)

Top 5 Hours for Ask Posts Comments
[38.595, '15']
[23.81, '02']
[21.525, '20']
[16.796, '16']
[16.009, '21']

In [95]:
for data in sorted_swap[:5]:
	hourly_data = dt.datetime.strptime(data[1], "%H")
	time = hourly_data.strftime("%H:%M")
	print(f'{time}: {data[0]:.2f} average comments per post')

15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post